[submodule "normalize.css"]
	path = normalize.css
	url = https://github.com/necolas/normalize.css
[submodule "jslib"]
	path = jslib
	url = https://github.com/hagstrand/jslib.git
[submodule "icon"]
	path = icon
	url = https://github.com/hagstrand/icon.git
